body {
	background: url("/_assets/img/bg.jpg") repeat left top transparent;
}

.scroll {
	width: 60%;
	margin: 90px 20% 10px;
}

.slider {
	width: 80%;
	margin: 0 10%;
	li img {
		width: 100%;
	}
}

#mix {
	width: 80%;
	margin: 0 10%;
	
}

.form {
	width: 80%;
	margin: 60px 10%;
	input {
		width: 100%;
		outline: none;
		border: none;
		height: 40px;
		background-color: #fff;
		opacity: .8;
		margin-bottom: 20px;
		text-indent: 10px;
		font-size: 20px;
		.bold;
	}
	textarea {
		width: 100%;
		padding: 5%;
		outline: none;
		border: none;
		height: 145px;
		background-color: #fff;
		opacity: .8;
		margin-bottom: 20px;
		resize: none;
	}
	select {
		width: 100%;
		outline: none;
		border: none;
		margin-bottom: 20px;
	}
	label {
		.bold;
		font-size: 20px;
		color: #666;
	}
	#pot {
		display: none;
	}
	.form-left, .form-right {
		width: 48%;
		float: left;
	}
	.form-left {
		margin-right: 4%;
	}
	.submit {
		float: right;
	}
}

footer {
	background-color: #666;
	height: 50px;
	p {
		color: #fff;
		font-size: 14px;
		padding-top: 14px;
		.italic;
		.center;
	}
}